extends base.pug
block scripts
    //- script(src='../static/javascripts/index.js')
    //- script(src='../static/javascripts/rasp.js')
    script(src='../static/javascripts/cart.js' defer="defer" async)
    script(src='../static/javascripts/localItem.js' defer="defer" async)

block style
    style
        include ../static/stylesheets/style.css
        include ../static/stylesheets/styleAbout.css
        include ../static/stylesheets/styleResponsive.css
block content
    div.container
        div.image 
            img(src="../static/images/sellandbuy.jpg")
        div.para    
            div.para-field
                p 
                    | We will help you out to arrange the necessary stuff that you would be needed in this 4 years of awesome college journey.
            div.para-field
                p 
                    | We not only provide you a platform for a two-way exchange process , but to even offer your stuff to the juniors for free.