extends base.pug
block scripts
    //- script(src='../static/javascripts/index.js')
    script(src='../static/javascripts/cart.js' defer="defer" async)
    script(src='../static/javascripts/localItem.js' defer="defer" async)
block style
    style
        include ../static/stylesheets/style.css
        include ../static/stylesheets/styleSell.css
        include ../static/stylesheets/styleResponsive.css
block content
    div.container
        h1 Thankyou for helping students by donating your stuff 😀
        form(action="/api/donate",method="post",class="myForm" enctype="multipart/form-data")
            input(type="text", class="myInput", name="name", placeholder="Enter your name" required)
            input(type="number", class="myInput", name="year", placeholder="Enter your year" required)
            input(type="text", class="myInput", name="product", placeholder="Enter your product name" required)
            input(type="text", class="myInput", name="mob_no", placeholder="Enter your phone number" required)
            input(type="number", class="myInput", name="old", placeholder="Enter how old is your product" required)
            input(type="file",class="myInput",name="myimage" multiple,required)
            textarea(class="myinput",name="descript" rows="4" cols="64",placeholder="Describe your product" required)
            button(class="btn")
                | Upload
                
        