extends base.pug
block scripts
    //- script(src='../static/javascripts/index.js' async)  
    //- script(src='../static/javascripts/rasp.js' async)  
    script(src='../static/javascripts/cart.js' defer="defer" async)
    script(src='../static/javascripts/localItem.js' defer="defer" async) 
block style  
    style
        include ../static/stylesheets/style.css                
        include ../static/stylesheets/styleDonation.css           
        include ../static/stylesheets/styleResponsive.css  
block content
    div.don-items 
        h1 Products For Donation                                    
        div.don-row
            img(src="/static/images/cooler.jpg")
            div.info-don-per 
                h2 Name of person   
                h2 Year 
                h2 Contact Number
            h2(class="descript") Description  
        div.don-row
            img(src="/static/images/iron.jpg")
            div.info-don-per 
                h2 Name of person   
                h2 Year 
                h2 Contact Number
            h2(class="descript") Description  
        div.don-row
            img(src="/static/images/bicycle.jpg")
            div.info-don-per 
                h2 Name of person   
                h2 Year 
                h2 Contact Number
            h2(class="descript") Description   
        div.don-row
            img(src="/static/images/kettle.png")
            div.info-don-per 
                h2 Name of person   
                h2 Year 
                h2 Contact Number
            h2(class="descript") Description  
        