extends base.pug
block scripts
    //- script(src='../static/javascripts/index.js')
    script(src='../static/javascripts/cart.js' defer="defer" async)
    script(src='../static/javascripts/localItem.js' defer="defer" async)
block style
    style
        include ../static/stylesheets/style.css
        include ../static/stylesheets/login.css
        include ../static/stylesheets/styleResponsive.css
block content
    div.container-email
        h1 YouTellWeSell
        div.container-email-small
            if(message)
                h3 #{message}
            h1 Reset Password
            form(action="/api/resetPassword/"+token,method="post",class="myForm")
                div(class="input-field")
                    i(class="fas fa-envelope")
                    input(type="password" placeholder="Enter New Password",name="newPass")
                    
                input(type="submit" value="Submit" class="btn solid") 